.hero1 {
    width: 100%;
    min-height:80vh;
    display: flex;
    align-items: center;
    
    justify-content: center;
}
.hero-text {
    
    
    max-width: 800px;
    
    
}
.hero-text h1 {
    font-size: 50px;
    font-weight: 500;
}
.hero-text p {
font-size:20px;
} 

.hero-text p {
    max-width: 700px;
    margin: 10px uto 20px;
    line-height: 1.4;
    text-align: center;
}
.flecha {
    width:2em;
    height:2em;
    margin-left:0.6em;
}
.tecno {
    color:red;
}